body {
  background-color: #F2D388;
  text-align: center;
  padding: 20px;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Nanum Brush Script', cursive; */
}

h1, h2, p {
  font-family: 'Anton', sans-serif;
  color: #F26C4E;
}

h2 {
  margin-top: 40px;
}

.col-xs-6 {
  margin-top: 40px;
}

pre {
  font-family: 'Nanum Brush Script', cursive;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

ul {
  list-style: none;
}

img {
  position: relative;
  -webkit-animation-name: moveburg;
  -webkit-animation-duration: 2s;
  animation-name: moveburg;
  animation-duration: 2s;
  animation-timing-function: linear;
  width: 12%;
  z-index: 2;
}

/* @-webkit-keyframes moveburg {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:390px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
} */

/* @keyframes moveburg {
    0%   {left:0px; top:0px;}
    25%  {left:-600px; top:390px;}
    50%  {left:0px; top:575px;}
    75%  {left:600px; top:200px;}
    100% {left:0px; top:0px;}
} */

pre {
  height: 2.5em;
  background-color: white;
  text-align: center;
  font-size: 2vw;
}

.form-control {
  font-size: 1.5vw;
}


textarea {
  width: 40%;
  height: 100px;
  font-size: 2em;
}

.btn {
  margin: 5px auto;
  font-size: 1.4vw;
}
